<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <div class="container">
      <%- include("components/title", { title: "Event Horizon" }) %> <%-
      include("components/video") %>
      <div class="blur-background">
        <form method="POST" action="/new">
          <input
            type="text"
            name="user"
            placeholder="Name"
            class="message-user"
            required
          />
          <textarea
            type="text"
            name="text"
            placeholder="Message"
            maxlength="1000"
            spellcheck="false"
            id="message-text"
            rows="7"
            required
          ></textarea>
          <button type="submit" class="button-49">Cast your message</button>
        </form>
        <%- include("components/back-button") %>
      </div>
      <%- include("components/footer") %>
    </div>
  </body>
</html>
