<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>ChronoVault</title>
  </head>
  <body>
    <div class="container">
      <h1 id="title">ChronoVault</h1>
      <a href="/new">
        <button class="button-49">Cast your message</button>
      </a>
      <p id="total-posts">Total posts: <%= messages.length %></p>
      <p id="last-post">
        Last post by: <%= messages[messages.length-1].user %>
      </p>
      <video autoPlay loop muted playsInline>
        <source src="black-hole.mp4" type="video/mp4" />
      </video>
      <div class="messages">
        <% messages.forEach((message, index) => {%> <%-
        include("messages/message", {message: message, index: index+1,
        getFormattedDate: getFormattedDate}) %> <% }); %>
      </div>
    </div>
  </body>
</html>
