<div class="message">
  <div class="message-header">
    <span class="message-user"><%= message.user %></span>
    <span class="message-date"><%= getFormattedDate(message.added) %></span>
  </div>
  <p class="message-body"><%= message.text %></p>
  <div class="message-open">
    <a href="/messages/<%= index %>"
      ><button class="btn btn-down btn-down--white">Open</button></a
    >
  </div>
</div>
