<div class="message">
  <div class="message-header">
    <span><%= message.user %></span>
    <span>Posted: <%= message.added %></span>
  </div>
  <p id="message-body"><%= message.text %></p>
  <button id="message-open">Open</button>
</div>
