<div class="message">
  <div class="message-header">
    <span><%= message.user %></span>
    <span>Posted: <%= getFormattedDate(message.added) %></span>
  </div>
  <p id="message-body"><%= message.text %></p>
  <div class="message-open">
    <a href="/messages/<%= index %>">Open</a>
  </div>
</div>
