/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: myFontTitle;
  src: url("./astron-boy.rg-regular.otf");
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(2, 0, 19);
  color: white;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(280px, 90vw, 1300px);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  gap: 1rem;
  padding: 3rem 0 1rem 0;
}

#title {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  background: linear-gradient(
    0deg,
    rgba(178, 142, 255, 0.3) 30%,
    rgb(255, 255, 255) 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: myFontTitle;
  -webkit-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: white;
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.button-49,
.button-49:after {
  width: 300px;
  height: 47.5px;
  line-height: 47.5px;
  font-size: 1rem;
  background: linear-gradient(45deg, transparent 5%, transparent 5%);
  border: 0;
  color: #fff;
  outline: transparent;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-family: myFontUser;
  cursor: pointer;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  --slice-6: inset(30% -6px 70% 0);

  content: "Singularity awaits";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #bababa 3%,
    #bababa 5%,
    rgb(136, 42, 191) 5%
  );
  text-shadow: -3px -3px 0px #f005f8, 3px 3px 0px #f005f8;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  75% {
    clip-path: var(--slice-6);
    transform: translate(15px, -5px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* Flagged messages button */
.link {
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  top: 1.5px;
}
.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(136, 42, 191);
  top: 100%;
  left: 0;
  pointer-events: none;
}
.link::before {
  content: "";
}
.link--helike {
  font-family: myFontUser;
}
.link--helike:hover span {
  animation: glitchText 0.5s linear;
}
.link--helike::before {
  height: 2px;
  opacity: 0;
}
.link--helike:hover::before {
  opacity: 1;
  animation: glitchLine 0.5s steps(2, start) forwards;
}

@keyframes glitchText {
  0% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  10% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  20% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  35% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  50% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  60% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  70% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  80% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  90% {
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes glitchLine {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10% {
    transform: translate3d(10px, 0, 0);
  }
  20% {
    transform: translate3d(0, 4px, 0);
  }
  30% {
    transform: scale3d(0.1, 1.4, 1) translate3d(0, -25px, 0);
    transform-origin: 100% 0%;
  }
  40% {
    transform: scale3d(1, 0.3, 1) translate3d(0, 25px, 0);
  }
  50% {
    transform: scale3d(0.5, 0.3, 1) translate3d(-100px, -80px, 0);
  }
  60% {
    transform: scale3d(1, 1.25, 1) translate3d(10px, -5px, 0);
  }
  70% {
    transform: scale3d(0.5, 0.5, 1) translate3d(0, 20px, 0);
  }
  80% {
    transform: translate3d(-30, 10px, 0) scale3d(1, 0.4, 1);
    transform-origin: 100% 0%;
  }
  90% {
    transform: scale3d(1, 0.5, 1) translate3d(0, -15px, 0);
    transform-origin: 0% 50%;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.view {
  width: 265px;
}

#total-posts {
  font-family: myFontBody;
  font-size: 1.25rem;
  position: fixed;
  bottom: 5px;
  right: 10px;
}

#last-post {
  font-size: 1.25rem;
  font-family: myFontBody;
  position: fixed;
  bottom: 5px;
  left: 10px;
}

video {
  margin: -150px 0px -378.5px;
  aspect-ratio: 1.776 / 1;
  width: 1300px;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  z-index: -2;
}

.blur-background {
  width: 100%;
  height: 100%;
  padding-top: 1.875rem;
  background-color: rgba(2, 0, 19, 0.15);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border: 1px solid white;
  gap: 1rem;
  background-color: rgb(255, 255, 255, 0.025);
  transition: all 0.45s ease;
}

.message:hover {
  background-color: rgb(255, 255, 255, 0.005);
}

.message-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px white solid;
  padding-bottom: 5px;
  align-items: center;
}

@font-face {
  font-family: myFontUser;
  src: url("./Xirod.otf");
}

@font-face {
  font-family: myFontDate;
  src: url("./Moonstrike.otf");
}

@font-face {
  font-family: myFontBody;
  src: url("./neuropol.regular.otf");
}

.message-user {
  font-family: myFontUser;
}

.message-date {
  font-family: myFontDate;
  font-size: 1.5rem;
  line-height: 1;
  padding-top: 2.5px;
  color: rgb(230, 230, 230);
}

.message-body {
  font-family: myFontBody;
  text-align: center;
  font-size: 1rem;
}

.message-open {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-family: myFontBody;
}

#flag-icon {
  width: 25px;
  align-self: flex-end;
}

.open-container {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 120px;
  height: 30px;
  position: absolute;
}

.btn {
  width: 120px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  height: 40px;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 1rem;
}

/* FLAG BUTTON STYLES */
.btn-slice {
  padding: 0.15rem 2rem;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0rem;
  color: #ffffff;
  font-size: 1rem;
  position: relative;
  transition: all 1000ms cubic-bezier(0.89, -0.17, 0.14, 1.225);
  transition-timing-function: cubic-bezier(0.89, -0.17, 0.14, 1.225);
  align-self: flex-end;
  cursor: pointer;
}
.btn-slice .top {
  position: relative;
  height: 12px;
  overflow: hidden;
  top: 5px;
  transition: all 300ms cubic-bezier(1, -0.055, 0.025, 1.04);
  transition-timing-function: cubic-bezier(1, -0.055, 0.025, 1.04);
  transition-delay: 0.35s;
}
.btn-slice .bottom {
  position: relative;
  height: 12px;
  overflow: hidden;
  bottom: -5px;
  transition: all 300ms cubic-bezier(1, -0.055, 0.025, 1.04);
  transition-timing-function: cubic-bezier(1, -0.055, 0.025, 1.04);
  transition-delay: 0.35s;
}
.btn-slice .bottom span {
  top: -12px;
  position: absolute;
  left: 0;
}
.btn-slice:hover .top {
  top: 0px;
  transition-delay: 0.35s;
}
.btn-slice:hover .bottom {
  bottom: -10px;
  transition-delay: 0.35s;
}
.btn-slice:hover,
.btn-slice:focus,
.btn-slice:active {
  margin-left: 10px;
}
.btn-slice:before {
  content: "";
  height: 1px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  margin-top: 16px;
  right: -30px;
  transition: all 1000ms cubic-bezier(0.89, -0.17, 0.14, 1.225);
  transition-timing-function: cubic-bezier(0.89, -0.17, 0.14, 1.225);
}
.btn-slice:hover:before {
  width: 130%;
}

/* FORM PAGE STYLES */
.page-title {
  font-size: 4rem;
  font-family: myFontTitle;
  padding-top: 3rem;
  -webkit-user-select: none;
  user-select: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.75rem;
  align-items: center;
  padding: 1rem;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form input {
  font-size: 1.25rem;
  background-color: transparent;
}

form input,
form textarea {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  padding-left: 5px;
  padding-top: 2.5px;
  color: white;
  width: 100%;
}

form input:focus,
form textarea:focus {
  background-color: rgb(255, 255, 255, 0.05);
}

textarea {
  font-family: myFontBody;
  margin-bottom: 1rem;
  font-size: 1rem;
  resize: none;
}

.error {
  font-family: myFontBody;
  font-size: 0.75rem;
  position: absolute;
  top: 5.25rem;
  display: flex;
  align-items: start;
  gap: 0.25rem;
}

.error > img {
  width: 15px;
  position: relative;
  top: 0.5px;
}

textarea + .error {
  top: 17.85rem;
}

.footer {
  position: absolute;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  bottom: 10px;
  left: auto;
  color: white;
  width: 320px;
  font-family: myFontBody;
  font-size: 1rem;
}

.footer > svg {
  width: 20px;
  top: -8px;
}

.footer span {
  position: relative;
  bottom: 0px;
}

.btn-background-slide {
  padding: 6px;
  height: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px;
  font-family: myFontBody;
  width: 200px;
  font-size: 1rem;
  margin-top: 7.5rem;
  background-color: transparent;
}
.btn-background-slide:hover {
  box-shadow: rgb(136, 42, 191) 8px 8px 0px, rgb(136, 42, 191) -8px -8px 0px;
}
.btn-background-slide:hover .btn-background-slide-bg {
  opacity: 1;
  transform: translateZ(0px);
}

/* MESSAGE PAGE STYLES */
.message.page {
  gap: 5rem;
}

.message.page .message-user {
  font-size: 1.75rem;
}

.message.page .message-date {
  font-size: 2rem;
}

.message.page .message-body {
  font-size: 1.5rem;
}

.message.page .message-body:last-child {
  font-family: myFontDate;
  font-size: 1.75rem;
}

/* MOBILE STYLES */
@media (min-width: 360px) and (max-width: 1440px) {
  /* INDEX PAGE */
  .container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    gap: 0.25rem;
    padding: 2rem 0 2rem 0;
    overflow: hidden;
  }

  #title {
    margin-bottom: -1rem;
    font-size: 4rem;
  }

  #total-posts,
  #last-post {
    position: static;
    font-size: 0.85rem;
  }

  #last-post {
    margin-bottom: 1rem;
  }

  .container .message-date:first-of-type {
    font-size: 1.15rem;
  }

  .message-header > .message-date {
    font-size: 1rem;
  }

  .message-header > .message-user {
    font-size: 0.85rem;
  }

  .message-body {
    font-size: 0.8rem;
  }

  .main-buttons {
    display: grid;
    grid-template-areas:
      "view filter"
      "cast cast";
    gap: 1rem;
    max-height: min-content;
  }

  .link {
    font-size: 0.65rem;
    padding: 0 6px;
  }

  .view {
    grid-area: view;
    width: 185px;
  }

  .filter {
    grid-area: filter;
  }

  .button-49-link {
    max-height: 50px;
    grid-area: cast;
    display: flex;
    justify-content: center;
  }

  .button-49-link > .button-49 {
    margin-top: 0;
    margin-bottom: 7rem;
    left: 0;
    font-size: 0.65rem;
    width: 172.5px;
    height: 30px;
    line-height: 30px;
    top: 1.75px;
  }

  .button-49-link > .button-49:after {
    font-size: 0.65rem;
    width: 172.5px;
    height: 30px;
    line-height: 30px;
    text-shadow: -1.5px -1.5px 0px #f005f8, 3px 3px 0px #f005f8;
  }

  video {
    margin: -150px 0px -282.5px;
    min-width: 1000px;
  }

  .blur-background {
    gap: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .message-open {
    align-items: end;
  }
  .open-container {
    width: 108px;
    height: 35px;
    position: relative;
    left: 13.5px;
  }
  .center {
    width: 83.25px;
    height: 20px;
  }
  .btn {
    width: 83.25px;
    height: 28px;
  }
  .btn span {
    font-size: 0.8rem;
    position: relative;
    top: -1.5px;
  }
  svg {
    left: 0;
    top: -0.5px;
    height: 29px;
  }

  /* FLAG BUTTON STYLES */
  .btn-slice {
    padding: 0.2rem 1.5rem;
    height: 28px;
    font-size: 0.8rem;
  }
  .btn-slice .top {
    height: 10px;
    top: 0px;
  }
  .btn-slice .bottom {
    height: 10px;
    bottom: 0px;
  }
  .btn-slice .bottom span {
    top: -10px;
  }
  .btn-slice:hover .top {
    top: 0px;
  }
  .btn-slice:hover .bottom {
    bottom: -5px;
  }
  .btn-slice:hover,
  .btn-slice:focus,
  .btn-slice:active {
    margin-left: 10px;
  }
  .btn-slice:before {
    content: "";
    height: 1px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin-top: 10px;
    right: -25px;
    transition: all 1000ms cubic-bezier(0.89, -0.17, 0.14, 1.225);
    transition-timing-function: cubic-bezier(0.89, -0.17, 0.14, 1.225);
  }
  .btn-slice:hover:before {
    width: 130%;
  }

  #flag-icon {
    width: 20px;
    align-self: flex-end;
  }

  /* FORM PAGE */
  .form-page video {
    margin: -250px 0px -289.825px;
    min-width: 1000px;
  }

  form {
    width: 100%;
    gap: 1.25rem;
    padding: 0rem;
  }

  .error {
    font-size: 0.55rem;
    top: 3.85rem;
    gap: 0.15rem;
    align-items: center;
  }

  .error > img {
    width: 12.5px;
    position: relative;
    top: -0.25px;
  }

  textarea + .error {
    top: 16.05rem;
  }

  .container.form-page {
    padding: 2rem 0 0rem 0;
    gap: 0.7125rem;
    justify-content: space-between;
  }

  form > .button-49 {
    margin-top: 0rem;
    margin-bottom: 7rem;
    left: 0;
    font-size: 0.85rem;
  }

  .form-page #title {
    margin-bottom: 12rem;
  }

  form input {
    font-size: 1rem;
  }

  form input,
  form textarea {
    width: 100%;
  }

  form input:focus,
  form textarea:focus {
    background-color: rgb(255, 255, 255, 0.05);
  }

  .btn-background-slide {
    width: 200px;
    font-size: 1rem;
    margin-top: 0rem;
    position: relative;
    top: -4rem;
  }

  .footer {
    position: static;
    align-items: center;
    width: 295px;
  }

  .footer > svg {
    width: 20px;
    position: static;
  }

  .footer span {
    position: relative;
    bottom: 0px;
  }

  /* MESSAGE PAGE */
  .message-page #title {
    margin-bottom: 12rem;
  }

  .message.page {
    gap: 2.5rem;
  }

  .message-page video {
    margin: -250px 0px -289.825px;
  }

  .container.message-page {
    padding: 2rem 0 0.25rem 0;
    justify-content: space-between;
    gap: 0.7125rem;
  }

  .message-page .blur-background {
    margin-bottom: 9.2rem;
  }

  .message.page .message-header {
    flex-direction: column;
  }

  .message.page .message-user {
    font-size: 1.15rem;
  }

  .message.page .message-date {
    font-size: 1.15rem;
  }

  .message.page .message-body {
    font-size: 1.05rem;
  }

  .message.page .message-body:last-child {
    font-family: myFontDate;
    font-size: 1.15rem;
  }

  .message-page .btn-background-slide {
    top: -3.25rem;
  }

  .message-page .footer {
    margin-top: 2rem;
  }
}

/* @media (min-width: 820px) and (max-width: 1180px) and (any-pointer: coarse) {
  video {
    margin: -150px 0px -290px;
  }

  .form-page video,
  .message-page video {
    margin: -250px 0px -297.5px;
  }
} */

/* @media (min-width: 1180px) and (max-width: 1366px) and (any-pointer: coarse) {
  video {
    margin: -150px 0px -360px;
  }

  .form-page video,
  .message-page video {
    margin: -250px 0px -367.5px;
  }
} */

/* @media (min-width: 360px) and (max-width: 1440px) and (any-pointer: fine) {
  video {
    margin: -150px 0px -368.5px;
  }

  .form-page video,
  .message-page video {
    margin: -250px 0px -375.5px;
  }
} */
